body {
    background-color: #eaeaea;
    }

hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

img {
    height: 150px;
}

h1 {
    color: #08d9d6;
    text-align: center;
}

h3 {
    color: #ff2e63;
    text-align: center;
}